.root {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 5em;
  box-sizing: border-box;
  padding: 5px 25px;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  box-shadow: 0px 2px 4px #cecece;
  transition: 0.2s ease;

  h1 {
    display: flex;
    align-items: center;
    transition: 0.2s ease;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}