.root {
  height: 100%;
  padding: 15px 0;
  box-sizing: border-box;

  & > div {
    background-color: #fcfcfc;
    height: 100%;
    border-radius: 2px;
    padding: 15px;
    box-sizing: border-box;
  }
}