.root {
  display: inline-block;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0) 50%, #622dff 50%, #622dff 100%);
  background-position: 0 0;
  transition: .15s ease;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    background-position: 100% 0;
    color: #fff;
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}