.root {
  width: 100%;
  min-height: 150px;
  max-height: 300px;
  border: 3px dashed #f2f2f2;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: #7c7c7c;
  position: relative;
  transition: 0.2s ease;
  overflow: hidden;

  &.highlight {
    border-color: #622dff;
    color: rgba(98, 45, 255, 0.6);
  }

  & > div:first-child {
    text-align: center;

    & > h3 {
      font-size: 2em;
      margin: 0;
      text-align: center;
      font-family: "Bebas Neue", sans-serif;
      font-weight: lighter;
    }
  }

  & > img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  & > div:last-child {
    align-items: center;
    color: #303841;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    & > i {
      font-size: 1.5em;
      margin-right: 10px;
      transition: 0.15s ease;

      &:hover {
        cursor: pointer;
        color: #ff2d61;
      }
    }

    & > span {
      font-family: "Bebas Neue", sans-serif;
      font-size: 3em;
    }
  }
}
