.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  background-color: #f2f2f2;

  & > div {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 4em;
    background-color: #622dff;
    box-shadow: 0 1px 4px #ddd;
    padding: 3px 15px;
    z-index: 1;

    & > img {
      width: auto;
      height: 100%;
      transition: .15s ease;

      &:hover {
        cursor: default;
        filter: drop-shadow(0 0 .15px #f2f2f2);
      }
    }

    & > div {
      color: #E5F2FF;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      text-align: right;
      padding: 0 10px;
      user-select: none;

      * {
        margin: 0;
      }

      h4 {
        font-size: 1.2em;
      }

      p {
        font-size: .85em;
        opacity: .8;
      }
    }
  }

  & > main {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    padding: 0 15px;
    box-sizing: border-box;
    overflow: hidden;

    .content {
      display: block;
      flex-grow: 1;
      height: 100%;
      z-index: 1;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    & > span {
      position: absolute;
      color: #dedede;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      user-select: none;
    }
  }
}